extend ../layout

// mixin projectFlow(project)
//    .well
//       h4= project.title
//       if project.projects
//          each subProject in project.projects
//             +projectFlow(subProject)
      
block content
   
   img.dimension(src="/images/flow.png")
   h3 Flow
   
   .well
      h4 Project
      form(action="/flow/project",method="get")
         select(name="project",size=5,class="form-control")
            optgroup(label="MyDepartment/MyProduct")
                  option MyApplication
                  option AnotherApplication
         button.btn.btn-primary.pull-right(type="submit") project flow
   
   // if project
   //    +projectFlow(project)
      
   // .well
   //    h4 Project #{project.title}
      
   // .well
   //    h4 Branch type
   //    p Feature, bugfix or plain branch
   
   