extend layout
block content
   #navigation-matrix
      #navigation-project.navigation-option
         a(href="/project")
            img(src="/images/project.png")
         h4 
            a(href="/project") Projects
      #navigation-environment.navigation-option
         a(href="/environment")
            img(src="/images/environment.png")
         h4 
            a(href="/environment") Environments
      #navigation-task.navigation-option
         a(href="/task")
            img(src="/images/task.png")
         h4 
            a(href="/task") Tasks
      #navigation-flow.navigation-option
         a(href="/flow")
            img(src="/images/flow.png")
         h4 
            a(href="/flow") Flow
   