extend layout
block content

   #navigation-matrix
      #navigation-project.navigation-option
         a(href="/project")
            img(src="/images/project.png")
         h4
            a(href="/project") Projects
      #navigation-environment.navigation-option
         a(href="/environment")
            img(src="/images/environment.png")
         h4
            a(href="/environment") Environments

