doctype
html
   head
      title Guvnor
      meta(name="keywords", content="guvnor,governor,guv,ci,cd,continuous,integration,deployment,delivery,tool,cli,minion")
      meta(name="description", content="Guvnor, in charge of your CI. Whichever CI you have and more")
      meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.6, user-scalable=yes, minimal-ui")
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/css/main.css')
      script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
   body
      header
         h1 Guvnor
         a(href="/")
            img(src="/images/guvnor-title.png")
         h3 in charge of your CI, whichever CI you have and more
      nav#lookout.menubar
         ul.horizontal
            li 
               a(href="/project") Projects
            li 
               a(href="/environment") Environments
            li 
               a(href="/task") Tasks
            li 
               a(href="/flow") Flow
            li 
               a(href="/admin") Admin
      #content.content.well
         block content
      footer
         ul.horizontal
            li 
               a(href="https://github.com/flurdy/guvnor") Project
            li 
               a(href="https://github.com/flurdy/guvnor") About
            li 
               a(href="https://github.com/flurdy/guvnor") Contact
            li 
               a(href="https://github.com/flurdy/guvnor") Support
         
