extend layout
block content

   #breadcrumb project

   img.righter(src="/images/project.png")
   h4 project

   ul#project-list
     li
         a(href="/project/wishlist") wishlist
     li
         a(href="snaps") snaps
     li
         a(href="lmstfy") lmstfy
     li
         a(href="shop") shop
     li
         a(href="tapit") tapit
     li
         a(href="giftregistry") giftregistry
     li
         a(href="regit") regit
     li
         a(href="gantry") gantry
