body { padding: 0.5em 1.5em; font-family: Arial, Sans;
      max-width: 60em; background-color: #cdd5d5; color: black; }
header h1, header h3 { display: none; }
#lookout { padding: 0.3em 0 1em 0; }
#lookout ul { padding: 0 0.2em; }
#lookout li { font-size: 1.1em; }
#starboard { float: right;  }
header, footer, #lookout { text-align: center; clear: both; max-width: 40em; }
footer li { font-size: 0.8em; }
.horizontal li { list-style: none; display: inline; padding: 0 0.5em; }
#content { min-height: 16em; }

#navigation-matrix { padding: 1em 8em;}
.navigation-option { float: left; width: 12em;}
.navigation-option { text-align: center; }
.navigation-option img { width: 9em; }
#navigation-project img { width: 9.3em; }
#breadcrumb { display: none; }
img.righter { float: right; width: 6em; }
