extend ../layout
block content

   #breadcrumb project/#{project.title}/promote

   h4 promote project #{project.title}

   form.form-horizontal(method="post",action="/project/#{project.title}/promote")

      .form-group
         label.col-sm-2.control-label(for="environment") environment
         .col-sm-4
            select.form-control(multiple,name="environment",size="9",required)#environment
               option(value="integration") integration : v9.0.1
               option(disabled) ----> staging : v.9.0.0
               option(disabled) ----> demo-01 : v.9.0.0
               option(value="staging") staging : v.9.0.0
               option(disabled) ----> pre-prod : v.8.6.3
               option(value="pre-prod") pre-prod  : v.8.6.3
               option(disabled) ----> production : v.8.6.1
               option(disabled) ----> prod-test : v.8.6.1

      .form-group
         .col-sm-8
            button.btn.btn-success.col-sm-4.pull-right(type="submit") promote
